<h1>
  Angular2 advanced example
</h1>
<p>
  Covers the following angular2 essentials
</p>
<ul class="topic-list">
  <li>input and output events</li>
  <li>ngClass, ngModel, ngFor, ngIf </li>
  <li>RouterModule - app routing</li>
  <li>Redux style with RxJS ngrx/store</li>
  <li>angular http and observables</li>
  <li>base code - angular cli generated</li>
  <li>boiler plate - check github project under <a href="https://github.com/yoloed/angular2" target="_blank">yoloed</a></li>
</ul>
<button class="home" routerLink="user/list">Take me there!</button>
